{% extends "base.html" %}
{% load static %}

{% block content %}
        <h4 class="add-window-title">{% if edit_todo %}Edit ToDo Item{% else %}Create ToDo Item{% endif %}</h4>
        <div class="error-message">
            {% include 'partials/_messages.html' %}
        </div>
        
        <div class="add-window">
            <div class="add-window-card todo">
                <form action="{% if edit_todo %}{% url 'edit-todo-item' todo.id %}{% else %}{% url 'add-todo-item' %}{% endif %}" method="POST">
                    {% csrf_token %}
                    <div class="component-information">
                        <h3>TODO ITEM</h3>
                        <div class="form-group-todo">
                            <label for="">To Do</label>
                            <input type="text" name="name" class="form-control form-control-sm" value="{% if edit_todo %}{{todo.name}}{% else %}{{values.name}}{% endif%}">
                        </div>
                        <input type="submit" value="{% if edit_todo %}Update ToDo Item{% else %}Create ToDo Item{% endif %}" class="add-component-btn">
                    </div>
                    <div class="component-details">
                        <h3>TODO INFORMATION</h3>
                        <div class="form-group-date">
                            <label for="">Due Date</label>
                            <input type="type" name="date" class="form-control form-control-sm"  value="{% if edit_todo %}{% if todo.date %}{{todo.date}}{% endif %}{% else %}{{values.date}}{% endif %}" placeholder="DD-MM-YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
                        </div>   
                        <div class="progress-options">
                            <div class="form-group select">
                                <label for="">Progress</label>
                                <select class="form-control" name="progress">
                                    <option name="progress" value="{% if edit_todo %}{% if todo.progress %}{{todo.progress}}{% else %}-{% endif %}{% else %}-{% endif %}">{% if edit_todo %}{% if todo.progress %}{{todo.progress}}{% else %}-{% endif %}{% else %}-{% endif %}</option>
                                    {% if edit_todo %}{% if todo.progress %} <option name="progress" value="-">-</option> {% endif %}{% endif %}
                                    {% for progress in progress_options %}
                                        {% if progress.name != todo.progress %}<option name="progress" value="{{progress}}">{{progress}}</option>{% endif %}
                                    {% endfor %}
                                </select>                             
                            </div>
                            <div class="form-group select">
                                <label for="">Category</label>
                                <select class="form-control" name="category">
                                    <option name="category" value="{% if edit_todo %}{% if todo.category %}{{todo.category}}{% else %}-{% endif %}{% else %}-{% endif %}">{% if edit_todo %}{% if todo.category %}{{todo.category}}{% else %}-{% endif %}{% else %}-{% endif %}</option>
                                    {% if edit_todo %}{% if todo.category %} <option name="category" value="-">-</option> {% endif %}{% endif %}
                                    {% for category in category_options %}
                                        {% if category.name != todo.category %}<option name="category" value="{{category}}">{{category}}</option>{% endif %}
                                    {% endfor %}
                                </select>                             
                            </div>
                        </div>                   
                    </div> 
                </form>
            </div>
            <div class="tips-on-adding">
                <div class="tip">
                    <h5>Tip 1</h5>
                    <p><span>You don’t have to fill in the date or the progress fields </span>for the to-do item if you don’t want to! Simply leave the blank.</p>
                </div>
            </div>
        </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/addGradingComponent.js' %}"></script>

{% endblock %}