{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}

{% include 'partials/_messages.html' %}
<h4>{{course.code}} - {{course.name}}</h4>
<div class="course-home-container">
    <div class="grades-section-col">
        <div class="view-window">
            <div class="view-window-header">
                <h6>GRADES</h6>
                <a href="{% if edit_grades %}{% url 'course-home' course.id %}{% else %}{% url 'edit-grades' course.id %}{% endif %}" class="edit-grades-btn">{% if edit_grades %}Done{% else %}Edit{% endif %}</a>
            </div>
            <div class="view-window-body">
                {% for component in course_grading_components %}
                    <div class="grade-component">
                        <p>{{ component.grading_component.name }}</p>
                        {% if component.grading_component.name != 'Assignments' and component.grading_component.name != 'Quizzes' and  component.grading_component.name != 'Labs' and component.grading_component.name != 'Project(s)' and component.grading_component.name != 'Group Project(s)' and component.grading_component.name != 'Participation/Attendance' %}
                            {% if edit_grades %}
                            <div class="edit-mode-grade">
                                <p>{% if total_grades|get_value:component.grading_component.id != 0 %}{{ total_grades|get_value:component.grading_component.id|floatformat:3 }}{% else %}0{% endif %}/{{ component.weight }}</p>
                                <a href="{% if exam_has_event|get_value:component.grading_component.name != False%}{% url 'edit-instance' exam_has_event|get_value:component.grading_component.name %}{% else %}{% url 'add-instance' component.id %}{% endif %}"><i class="bx bx-pencil"></i></a>
                                <p>x</p>
                            </div>
                            {% else %}
                            <p>{% if total_grades|get_value:component.grading_component.id != 0 %}{{ total_grades|get_value:component.grading_component.id|floatformat:3 }}{% else %}0{% endif %}/{{ component.weight }}</p>
                            {% endif %}
                        {% else %}
                        <p>{% if total_grades|get_value:component.grading_component.id != 0 %}{{ total_grades|get_value:component.grading_component.id|floatformat:3 }}{% else %}0{% endif %}/{{ component.weight }}</p>
                        {% endif %}
                    </div>
                    {% if component.grading_component.name == 'Quizzes' or component.grading_component.name == 'Assignments' or component.grading_component.name == 'Labs' or component.grading_component.name == 'Project(s)' or component.grading_component.name == 'Group Project(s)' or component.grading_component.name == 'Reflections' %}
                        {% for event in events %}
                            {% if event.grading_component.name == component.grading_component.name %}
                                <div class="grade">
                                    <p>{{event.name}}</p>
                                    {% if edit_grades %}
                                    <div class="edit-mode-grade">
                                        <p>{% if event.grade != 0 %}{{event.grade|floatformat:3}}{% else %}0{% endif %} / {{event.weight|floatformat:3}}</p>
                                        <a href="{% url 'edit-instance' event.id %}"><i class="bx bx-pencil"></i></a>
                                        <p>x</p>
                                    </div>
                                    {% else%}
                                    <p>{% if event.grade != 0 %}{{event.grade|floatformat:3}}{% else %}0{% endif %} / {{event.weight|floatformat:3}}</p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% if edit_grades %}
                    <div class="grade">
                        <a href="{% url 'add-instance' component.id %}" class="add-instance">+ Add Instance</a>
                    </div>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="other-sections-col">
        <div class="course-information-section">
            {% if edit %}<form action="{% url 'edit-course' course.id %}" method="POST">
                {% csrf_token %}{% endif %}
            <div class="view-window">
                <div class="view-window-header">
                    <h6>COUSRE DETAILS</h6>
                    {%if edit %}
                    <button type="submit" class="edit-course-details-btn">Done</button>
                    {% else %}
                    <a href="{% url 'edit-course' course.id %}" class="edit-course-details-btn">Edit</a>
                    {% endif %}
                </div>
                <div class="view-window-body">
                    {% if edit %}
                    <div class="course-info-col-edit">
                        <div class="course-name form-group">
                            <label for="">Course Name</label>
                            <input type="text" name="name" class="form-control form-control-sm" value="{{course.name}}"/>
                        </div>
                        <div class="course-code form-group">
                            <label for="">Course Code</label>
                            <input type="text" name="code" class="form-control form-control-sm" value="{{course.code}}"/>
                        </div>
                    </div>
                    <div class="course-sections">
                        <div class="form-group select">
                            <label for="">Lecture Section</label>
                            <select class="form-control" name="lecture-section">
                                <option name="lecture-section" value="{{course.lecture}}" default>{{course.lecture}}</option>
                                {% for lecture in lecture_sections %}
                                {% if lecture != course.lecture %}<option name="lecture-section" value="{{lecture}}">{{lecture}}</option>{% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group select">
                            <label for="">Lecture Section</label>
                            <select class="form-control" name="lab-section">
                                <option name="lab-section" value="{% if course.lab %}{{course.lab}}{% else %}-{% endif %}">{% if course.lab %}{{course.lab}}{% else %}-{% endif %}</option>
                                {% if course.lab %} <option name="lab-section" value="-">-</option> {% endif %}
                                {% for lab in lab_sections %}
                                {% if lab != course.lab %}<option name="lab-section" value="{{lab}}">{{lab}}</option>{% endif %}
                                {% endfor %}
                            </select>  
                        </div>
                        <div class="form-group select">
                            <label for="">Lecture Section</label>
                            <select class="form-control" name="seminar-section">
                                <option name="seminar-section" value="{% if course.seminar %}{{course.seminar}}{% else %}-{% endif %}">{% if course.seminar %}{{course.seminar}}{% else %}-{% endif %}</option>
                                {% if course.seminar %} <option name="seminar-section" value="-">-</option> {% endif %}
                                {% for seminar in seminar_sections %}
                                {% if seminar != course.seminar %}<option name="seminar-section" value="{{seminar}}">{{seminar}}</option>{% endif %}
                                {% endfor %}
                            </select> 
                        </div>
                    </div> 
                    {% else %}
                    <div class="course-name">
                        <p>Name: {{course.name}}</p>
                    </div>
                    <div class="course-sections">
                        {% if course.lecture %}
                        <p>Lectrue: {{course.lecture}}</p>
                        {% endif %}
                        {% if course.lab %}
                        <p>Lab: {{course.lab}}</p>
                        {% endif %}
                        {% if course.seminar %}
                        <p>Seminar: {{course.seminar}}</p>
                        {% endif %}
                    </div>
                    <div class="grade-section">
                        <div class ="stat-row">
                            <p>Currently Earned:</p>
                            <p>12.5/20</p>
                        </div>
                        <div class ="stat-row">
                            <p>Currently Losing:</p>
                            <p>2.5/100</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% if edit %}</form>{% endif %}
        </div>
        <div class="course-deadlines-section">
            {% if events %}
            {% include 'partials/_deadlines.html' %}
            {% else %}
            <h6>No upcoming events for this course yet</h6>
            {% endif %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/courseHome.js' %}"></script>

{% endblock %}