{% extends "base.html" %}
{% load static %}

{% block content %}
<h4 class="add-window-title">{% if edit_instance %}Edit Instance{% else %}Add New Instance{% endif %}</h4>
<div class="error-message">
    {% include 'partials/_messages.html' %}
</div>

<div class="add-window">
    <div class="add-window-card instance">
        <form action="{% if edit_instance %}{% url 'edit-instance' event.id %}{% else %}{% url 'add-instance' component.id %}{% endif %}" method="POST"> 
            {% csrf_token %}
            <div class="component-information">
                <h3>GRADING COMPONENT</h3>
                <div class="form-group">
                    <label for="">Course Code</label>
                    <input type="text" class="form-control form-control-sm" value="{% if edit_instance %}{{course}}{% else %}{{component.course.code}}{% endif %}" readonly>
                </div>
                <div class="form-group">
                    <label for="">Course Grading Component</label>
                    <input type="text" class="form-control form-control-sm" value="{% if edit_instance %}{{grading_component.name}}{% else %}{{component.grading_component.name}}{% endif %}" readonly>
                </div>
                <input type="submit" value="Submit" class="add-component-btn">
            </div>
            <div class="separator"></div>
            <div class="component-details">
                <h3>ASSIGNMENT INFORMATION</h3>
                <div class="form-group">
                    <label for="">Assignment/Quiz Name</label>
                    {% if is_exam%}
                    <input type="text" name="name" class="form-control form-control-sm" value="{{component.grading_component.name}}" placeholder="eg. Lab 1, Assignment 1, Quiz 1, etc.">
                    {% else %}
                    <input type="text" name="name" class="form-control form-control-sm" value="{% if edit_instance %}{{event.name}}{% else %}{{values.name}}{% endif %}" placeholder="eg. Lab 1, Assignment 1, Quiz 1, etc.">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="">Assignment Due Date/ Quiz Date</label>
                    <input type="type" name="date" class="form-control form-control-sm"  value="{% if edit_instance %}{{event.date}}{% endif %}" placeholder="DD-MM-YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
                </div>
                    <div class="form-group">
                        <label for="">Your Grade / Total Marks</label>
                        <div class="grade-input-row">
                            <input type="number" name="student-grade" class="form-control form-control-sm" value="{% if edit_instance %}{{event.student_grade}}{% endif %}">
                            <p>/</p>
                            <input type="number" name="max-grade" class="form-control form-control-sm" value="{% if edit_instance %}{{event.max_grade}}{% endif %}">
                        </div>
                    </div>
            </div> 
        </form>
    </div>
    <div class="tips-on-adding">
        <div class="tip">
            <h5>Tip 1</h5>
            <p>The grading component and the course you are adding/editing the instance for is unchangeable. It you want to <span>add/edit an instance to a different course of grading component, simply go back using the browser controls.</span></p>
        </div>
        <div class="tip">
            <h5>Tip 2</h5>
            <p>If your you don’t know your grade or the total marks for the assignment, <span>just leave it blank!</span> You can always go back to and edit it.<br/> <br/> If you input a random grade, its going to mess with your GPA calculations and overall grade for the course. So be aware! <span>It is in your interest to enter only truthful numbers</span></p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/addGradingComponent.js' %}"></script>

{% endblock %}