{% extends "base.html" %}

{% block content %}

{% include 'partials/_messages.html' %}
<h4>My Dashboard</h4>
{% if courses.count %}
<div class="course-list-container">
    <ul class="course-list">
        {% for course in courses %}
        <div class="course-list-item">
            <div class="class-identifier"></div>
            <a href="{% url 'course-home' course.id %}" class="course">{{course.code}}</a>
        </div>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="grid-container">
    <div class="grades-container box">
        <div class="view-window">
            <div class="view-window-header">
                <h6>GRADES - QUICK GLANCE</h6>
                <span>View more</span>
            </div>
            <div class="view-window-body">
                {% for course in courses %}
                <div class="course-grade-row">
                    <div class="course-code">
                        <h6>{{course.code}}</h6>
                    </div>
                    <div class="course-grade-breakdown">
                        <p>Gained:</p>
                        <p><span id="gained">{% if course.total_grade_gained == 0 %}0{% else %}{{course.total_grade_gained|floatformat:3}}{% endif %}</span>/{% if course.total_grade_possible == 0 %}0{% else %}{{course.total_grade_possible|floatformat:3}}{% endif %}</p>
                    </div>
                    <div class="course-grade-breakdown">
                        <p>Losing:</p>
                        <p><span id="losing">{% if course.total_grade_lost == 0 %}0{% else %}{{course.total_grade_lost|floatformat:3}}{% endif %}</span>/100</p>
                    </div>
                    <div class="course-estimate">
                        <p>Current grade:</p>
                        <p>{{course.grade}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="upcoming-deadlines-container box">
        {% if events%}
        {% include 'partials/_deadlines.html' %}
        {% else %}
        <h6>No upcoming events found</h6>
        {% endif %}
    </div>
    <div class="to-do-list-container box">
        <div class="view-window">
            <div class="view-window-header">
                <h6>TO DO LIST</h6>
                <a href="{% url 'add-todo-item' %}" class="add-todo-item-btn">Add Item</a>
            </div>
            <div class="view-window-body">
                {% for todo in todo_items %}
                <div class="todo-item">
                    <div class="edit-todo">
                        <a href="{% url 'edit-todo-item' todo.id %}"><i class="bx bx-pencil"></i></a>
                    </div>
                    <div class="todo-info">
                        <div class="todo-name">
                            <h6>{{todo.name}}</h6>
                            {% if todo.progress %}
                            <div class="todo-progress {{todo.progress_style}}">{{todo.progress}}</div>
                            {% endif %}
                        </div>
                        {% if todo.date %}
                        <span>{{todo.date}}</span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="gpa-estimator-container box">
        
    </div>
</div>


{% endblock %}