{% extends "base.html" %}

{% block content %}

{% include 'partials/_messages.html' %}
<h4 class="page-title">My Dashboard</h4>
{% if courses.count %}
<div class="course-list-container">
    <ul class="course-list">
        {% for course in courses %}
        <div class="course-list-item">
            <div class="class-identifier"></div>
            <a href="{% url 'course-home' course.id %}" class="course">{{course.code}}</a>
        </div>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="grid-container">
    <div class="grades-container box">
        <div class="view-window">
            <div class="view-window-header">
                <h6>GRADES - QUICK GLANCE</h6>
                <span>View more</span>
            </div>
            {% if courses.count%}
            <div class="view-window-body">
                {% for course in courses %}
                <div class="course-grade-row">
                    <div class="course-code">
                        <h6>{{course.code}}</h6>
                    </div>
                    <div class="course-grade-breakdown">
                        <p>Gained:</p>
                        <p><span id="gained">{% if course.total_grade_gained == 0 %}0{% else %}{{course.total_grade_gained|floatformat:3}}{% endif %}</span>/{% if course.total_grade_possible == 0 %}0{% else %}{{course.total_grade_possible|floatformat:3}}{% endif %}</p>
                    </div>
                    <div class="course-grade-breakdown">
                        <p>Losing:</p>
                        <p><span id="losing">{% if course.total_grade_lost == 0 %}0{% else %}{{course.total_grade_lost|floatformat:3}}{% endif %}</span>/100</p>
                    </div>
                    <div class="course-estimate">
                        <p>Current grade:</p>
                        <p>{{course.grade}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="empty-container">
                <h6>No courses found</h6>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="upcoming-deadlines-container box">
        {% if events %}
        {% include 'partials/_deadlines.html' %}
        {% else %}
        <h6>No upcoming events found</h6>
        {% endif %}
    </div>
    <div class="to-do-list-container box">
        <div class="view-window">
            <div class="view-window-header">
                <h6>TO DO LIST</h6>
                <a href="{% url 'add-todo-item' %}" class="add-todo-item-btn">Add Item</a>
            </div>
            {% if todo_items %}
            <div class="view-window-body">
                {% for todo in todo_items %}
                <div class="todo-item">
                    <div class="edit-todo">
                        <a href="{% url 'edit-todo-item' todo.id %}"><i class="bx bx-pencil"></i></a>
                    </div>
                    <div class="todo-info">
                        <div class="todo-name">
                            <h6>{{todo.name}}</h6>
                            <div class="tags">
                                {% if todo.progress %}
                                <div class="todo-progress {{todo.progress_style}}">{{todo.progress}}</div>
                                {% endif %}
                                {% if todo.category %}
                                <div class="todo-category {{todo.category_style}}">{{todo.category}}</div>
                                {% endif %}
                            </div>
                        </div>
                        {% if todo.date %}
                        <span>{{todo.date}}</span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="empty-container">
                <h6>No To-Do items found</h6>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="gpa-estimator-container box">
        {% if courses.count %}
        <canvas id="myChart" width="500" height="100"></canvas>
        <div class="gpa-estimator">
            <h6>CURRENT GPA FOR SEMESTER ESTIMATOR</h6>
            <h3>{{gpa}}</h3>
        </div>
        {% else %}
        <div class="empty-container">
            <h6>GPA cannot be calculated at the moment</h6>
        </div>
        {% endif %}
    </div>
    <div id="gpa-data" data-gpa="{{ gpa }}"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Retrieve GPA from the data attribute
    var gpaDataElement = document.getElementById('gpa-data');
    var gpa = parseFloat(gpaDataElement.getAttribute('data-gpa'));

    var ctx = document.getElementById('myChart').getContext('2d');

    var chart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [gpa, 4.0 - gpa],
                backgroundColor: ['#156FE6', 'transparent'],
                innerRadius: '80%', // Controls the size of the inner hole
                outerRadius: '90%',
            }],
        },
        options: {
            cutout: 50,
            rotation: 1 * Math.PI,
            legend: {
                display: false,
            },
            layout: {
                padding: {
                    left: 20, // Adjust the left padding to make room for the legend
                    right: 20, // Adjust the right padding
                },
            },
        },
    });
</script>

{% endblock %}