:root{
    --white: #fff;
    --black: #222;
    --grey: #f2f2f2;
    --grey1: #e0e0e3;
    --grey2: #e6e5e5;
    --grey3: #f7f7f9;
    --grey4: #ececee;
    --greytext: #898888;
    --darkblue: #252d33;
  }

  a{
    text-decoration: none;
    color: var(--black);
  }

  .flex-center{
    display: flex;
    align-items: center;
  }

/* Top Nav */

.top-nav{
    height:3.4rem;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 88;
    border-bottom: 1px solid var(--grey2);
}

.top-nav-profile{
    height: 100%;
    width: 100%;
    background: white;
}

/* Sidebar */
.sidebar{
    height: 100vh;
    width: 20%;
    background: white;
    border-right: 1px solid var(--grey2);
    position: fixed;
    left: 0;
    z-index: 900;
    margin: 0;
    padding: 0;
}

.sidebar-brand-container{
    height: 3.4rem;
    width: 100%;
    border-bottom: 1px solid var(--grey2);
    background: white;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.sidebar-brand-container i{
    font-size: 1.3rem;
}

.burger-menu{
    cursor: pointer;
}

.sidebar-heading{
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
    padding: 0 1rem;
}

.add-course-sidebar{
    font-size: 1.2rem;
    color: var(--greytext)
}
/* Main Container */
.main-container{
    background: var(--grey3);
    position: fixed;
    top: 3.4rem;
    width: 100%;
    height: 100%;
    padding: 4rem 8rem;
    z-index: 0;
    padding-left: 30%;
}