:root{
    --white: #fff;
    --black: #222;
    --grey: #f2f2f2;
    --grey1: #e0e0e3;
    --grey2: #e6e5e5;
    --grey3: #f7f7f9;
    --grey4: #ececee;
    --greytext: #898888;
    --blue: #156FE6;
    --bluetext: #004AAD;
    --green: #00BF63;
    --greentext: #008947;
    --red: #FF3131;
    --redtext: #CF1D1D;

  }

  a{
    text-decoration: none;
    color: var(--black);
  }

  .flex-center{
    display: flex;
    align-items: center;
  }

  h4{
    font-weight: 600;
    margin-bottom: 0;
  }

  p{
    margin: 0;
  }

  h6{
    margin: 0;
  }
/* Top Nav */

.top-nav{
    height:3.4rem;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 88;
    border-bottom: 1px solid var(--grey2);
}

.top-nav-profile{
    height: 100%;
    width: 100%;
    background: white;
}

/* Sidebar */
.sidebar{
    height: 100vh;
    width: 20%;
    background: white;
    border-right: 1px solid var(--grey2);
    position: fixed;
    left: 0;
    z-index: 900;
    margin: 0;
    padding: 0;
}

.sidebar-brand-container{
    height: 3.4rem;
    width: 100%;
    border-bottom: 1px solid var(--grey2);
    background: white;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.sidebar-brand-container i{
    font-size: 1.3rem;
}

.burger-menu{
    cursor: pointer;
}

.sidebar-heading{
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
    padding: 0 1rem;
}

.add-course-sidebar{
    font-size: 1.2rem;
    color: var(--greytext)
}

/* Main Container */
.main-container{
    background: var(--grey3);
    position: fixed;
    top: 3.4rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    z-index: 0;
    padding-left: 25%;
}


/* Add Course Page */
.add-course-title{
    margin-bottom: 1.2rem;
    margin-top: 0.5rem;
}

.add-course-window{
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.tips-on-adding{
    width: 25%;
    height: 100%;
}

.tip{
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid var(--grey2);
    margin-bottom: 1rem;
}

.tip h5{
    font-weight: 800;
    width: fit-content;
    padding: 0.2rem 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}

.tip:nth-child(1) h5{
    color: #FFBD59;
    background: rgba(255, 189, 89, 0.3);
}

.tip:nth-child(1) span{
    color: #FFBD59;
}

.tip:nth-child(2) h5{
    color: #0097B2;
    background: rgba(0, 151, 178,0.3);
}

.tip:nth-child(2) span{
    color: #0097B2;
}

.tip p{
    font-size: 0.8rem;
}

.add-course-card{
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--grey2);
    width: 70%;
    height: 75%;
    display: flex;
    flex-direction: row;
}

.add-course-card form{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 1rem;
}

.add-course-card .separator{
    background: var(--grey2);
    width: 1px;
    height: 100%;
}

.course-information{
    width: 30%;
}

.course-details{
    width: 55%;
    position: relative;
}

.form-group{
    margin-bottom: 1rem;
    padding: 0 0.5rem;
}

.add-course-card input, .add-course-card select{
    border-radius: 0.3rem;
}

.course-information .form-group select{
    width: 3.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-information .form-group input{
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-information .input-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-course-card label{
    font-size: 0.9rem;
    color: black;
    margin-bottom: 0.6rem;
}

.add-course-btn{
    padding: 0.8rem;
    width: 100%;
    font-size: 1rem;
    background: rgba(21, 111, 230, 0.3);
    color: var(--bluetext);
    border-radius: 0.3rem;
    border: none;
    margin: 0.8rem;
}

.course-information h3, .course-details h3{
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--greytext);
}

.course-details-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.course-details button{
    border: none;
}

#grading-components{
    height: 90%;
    overflow: auto;
    border: 1px solid var(--grey2);
    border-radius: 0.3rem;
    padding: 1.5rem;

}

.grading-component{
    border: 1px solid var(--grey2);
    border-radius: 0.3rem;
    padding: 0.8rem 1rem 0.5rem 1rem;
}

.grading-component-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.grading-component select{
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.remove-component{
    background: rgba(212, 31, 31, 0.3);
    border-radius: 0.3rem;
    padding: 0.3rem;
    color: #D41F1F;
    font-size: 0.9rem;
}

.add-component{
    position: absolute;
    top: -0.5rem;
    right: 0;
    padding: 0.2rem 0.8rem;
    background: rgba(0, 191, 99, 0.3);
    color: var(--greentext);
    border-radius: 0.3rem;
}

.add-component:hover{
    background: rgba(0, 191, 99, 0.4);
    color: var(--greentext);
}

.remove-component:hover{
    color: #D41F1F;
    background: rgba(212, 31, 31, 0.4);
}

.grading-component input{
    width: 25%;
    height: 2.2rem;
}

.grading-component .form-group.weight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.3rem;
}

.grading-component .form-group.weight label{
    width: 20%;
}

.added-component{
    margin-top: 1rem;
}

/* Alerts */
.alert{
    font-size: 0.9rem;
    width: 90%;
    cursor: pointer;
}

/* Dashboard */

/* Course List */
.course-list-container{
    height: fit-content;
}

.course-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.course-list-item{
    width: 15%;
    height: 2.8rem;
    background: white;
    border-radius: 0.4rem;
    border: 1.5px solid var(--grey2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 0.5rem;
}

.class-identifier{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    margin-right: 0.4rem;
    background: red;
}

.course-list .course-list-item:nth-child(1) .class-identifier{
    background: rgba(255, 189, 89);
}

.course-list .course-list-item:nth-child(2) .class-identifier{
    background: rgba(0, 151, 178);
}

.course-list .course-list-item:nth-child(3) .class-identifier{
    background: rgba(255, 87, 87);
}

.course-list .course-list-item:nth-child(4) .class-identifier{
    background: rgba(0, 191, 99);
}

.course-list .course-list-item:nth-child(5) .class-identifier{
    background: rgba(21, 111, 230);
}
    
.course-list-item:not(:nth-child(1), :nth-child(6)){
    margin-left: 2.2rem;
}

/* Grid dashboard */
.grid-container{
    display: grid;
    grid-template-columns: 1.6fr 0.2fr 1.2fr;
    grid-template-rows: 1.5fr 0.2fr 1fr 0.2fr 1fr;
    grid-gap: 0;
    height: 75%;
    width: 95%;
}

.grid-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container .grid-box{
    border: 1px solid var(--grey2);
    border-radius: 0.4rem;
}

.grid-container .grid-box:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    background: white;
}

.grid-container .grid-box:nth-child(2){
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    background: white;
}

.grid-container .grid-box:nth-child(3){
    grid-column: 1 / 2;
    grid-row: 3 / 6;
    background: white;
}

.grid-container .grid-box:nth-child(4){
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    background: white;
}

.view-window{
    height: 100%;
    width: 90%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

.view-window-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    border-bottom: 1px solid var(--grey2);
}

.view-window-header span{
    font-size: 0.8rem;
    color: var(--greytext);
    cursor: pointer;

}

/* Deadlines window */

.upcoming-deadlines-container .view-window-body{
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.calendar-event{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid var(--grey2);
    position: relative;
}

.calendar-event-date{
    width: 15%;
    height: 100%;
    padding: 0.3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    background: rgba(21, 111, 230, 0.3);
    border-radius: 0.3rem;
    color: var(--bluetext);
}
.calendar-event-date h6{
    margin-bottom: 0;
    font-size: 0.8rem;
}

.calendar-event-info p{
    font-size: 0.7rem;
}

.calendar-event .checkbox{
    position: absolute;
    right: 0;
}

.course-estimate{
    text-align: center;
    display: flex;
    flex-direction: column;  
}

/* Grades Window */
.grades-container .view-window-body{
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin: 0.3rem 1rem;
}

.grades-container .course-grade-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.4rem;
}

.course-grade-breakdown{
    text-align: center;
    display: flex;
    flex-direction: column;  
}

.course-grade-breakdown p, .course-estimate p{
    font-size: 0.9rem;
}

#gained{
    color: #00BF63;
}

#losing{
    color: #D41F1F;
}

.view-window-body .course-grade-row .course-code{
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-weight: 800;
}

.view-window-body .course-grade-row:nth-child(1) .course-code{
    background: rgba(255, 189, 89, 0.3);
    color: #FFBD59;
}

.view-window-body .course-grade-row:nth-child(2) .course-code{
    background: rgba(0, 151, 178,0.3);
    color: #0097B2;
}

.view-window-body .course-grade-row:nth-child(3) .course-code{
    background: rgba(255, 87, 87, 0.3);
    color: #FF5757;
}

.view-window-body .course-grade-row:nth-child(4) .course-code{
    background: rgba(0, 191, 99, 0.3);
    color: #00BF63;
}

.view-window-body .course-grade-row:nth-child(5) .course-code{
    background: rgba(21, 111, 230, 0.3);
    color: #156FE6;
}

/* To do list */
.to-do-list-container .view-window-header{
    border-bottom: none;
    margin-bottom: 0.3rem;
    justify-content: flex-start;
}

.add-todo-item-btn{
    border: none;
    background: rgba(0, 191, 99, 0.3);
    color: var(--greentext);
    font-size: 0.7rem;
    padding: 0.2rem 0.6rem;
    border-radius: 0.3rem;
    margin-left: 5%;
}

.todo-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    width: 100%;
    height: fit-content;
}

.todo-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.todo-name span{
    color: var(--bluetext);
}

.todo-item .checkbox{
    width: 7%;
} 



