    <div class="view-window">
        <div class="view-window-header">
            <h6>UPCOMING DEADLINES</h6>
        </div>
        <div class="view-window-body">
            {% for event in events %}
            <div class="calendar-event">
                <div class="calendar-event-date">
                    <h6>{{ event.date }}</h6>
                </div>
                <div class="calendar-event-info">
                    <h6>{{ event.name }} - {{event.course.code}}</h6>
                    <p>{{ event.due_time }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
