{% load static %}
<div class="sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'gradeapp' %}">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              My Progress
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              How to use GradeTracker
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 text-body-secondary text-uppercase">
          <span>My Courses</span>
          <a class="add-course-sidebar" href="{% url 'add-course' %}" aria-label="Add a new report">
            +
          </a>
        </h6>
        <ul class="nav flex-column mb-auto" id="courses-list">
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              ENSF 462
            </a>
          </li> -->
        </ul>

        <hr class="my-3">

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              Settings
            </a>
          </li>
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
              <input class="nav-link" type="submit" value="Sign out"/>
            </form>
          </li>
        </ul>
  </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/sidebar.js' %}"></script>